<body>
    <div class="container items">
        <div>
                <h1>Todos</h1>
        </div>
                <div *ngIf="todos.length>0 &&todosCompleted.length!==todos.length">
                        <input type="checkbox" (change)="checkAllTodos($event)" class="opacitycheck"> 
                        <input type="text"
                        class="newTodo"
                        focus
                        (keydown.enter)="createToDo($event.target)"
                        placeholder="Ingresar Tarea">
         
                        
                </div>
                <div *ngIf="todos.length>0 && todos.length===todosCompleted.length">
                        <input type="checkbox" (change)="checkAllTodos($event)" checked> 
                        <input type="text"
                        class="newTodo"
                        focus
                        (keydown.enter)="createToDo($event.target)"
                        placeholder="Ingresar Tarea" >
                </div>
                <div *ngIf="todos.length===0">
                        <input type="text"
                        class="newTodo"
                        focus
                        (keydown.enter)="createToDo($event.target)"
                        placeholder="Ingresar Tarea" >
                </div>
      
                
        

        
    </div>

    <div [ngSwitch]="filter">
        <!-- All Todos -->
        <div *ngSwitchCase="1"
             class="container">
            <div *ngFor="let to_do of todos">
                <div [ngSwitch]="to_do.completed"
                     class="items">
                    <div *ngSwitchCase="false">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)">
                        <label>  {{to_do.name}}  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                    <div *ngSwitchCase="true"
                         class="opacitycheck">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)"
                               checked>
                        <label> <del>{{to_do.name}} </del>  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                </div>

            </div>

        </div>

        <!-- Todos Active -->
        <div *ngSwitchCase="2" class="container">
            <div *ngFor="let to_do of todosActive">
                <div [ngSwitch]="to_do.completed"  class="items">
                    <div *ngSwitchCase="false">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)">
                        <label>  {{to_do.name}}  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                    <div *ngSwitchCase="true" class="opacitycheck">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)"
                               checked>
                        <label> <del>{{to_do.name}} </del>  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                </div>

            </div>
        </div>

        <!-- Todos Completed -->
        <div *ngSwitchCase="3" class="container">
            <div *ngFor="let to_do of todosCompleted">
                <div [ngSwitch]="to_do.completed" class="items">
                    <div *ngSwitchCase="false">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)">
                        <label>  {{to_do.name}}  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                    <div *ngSwitchCase="true" class="opacitycheck">
                        <input type="checkbox"
                               (change)="changeStatusTodo($event,to_do)"
                               checked>
                        <label> <del>{{to_do.name}} </del>  </label>
                        <button (click)="removeTodo(to_do)" class="close">X</button>
                    </div>

                </div>

            </div>
        </div>

        <!-- Todo Component -->
        <div class="container">
                <app-todo (completed)="show($event)"
                (all)="show($event)"
                (actived)="show($event)"
                (clearCompleted)="removeTodosCompleted()"
                [lengthTodosActive]="todosActive.length" 
                [lengthTodosCompleted]="todosCompleted.length"></app-todo>
        </div>
        
    </div>
</body>